# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Database (se genera automáticamente)
db.sqlite3

# Virtual environments
cmmsenv/
env/
.venv/
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Zip
*.zip

# Archivos privados
